.ct-searh-bar{
display: flex;
}

.ct-searh-bar input{
padding: 0 15px;
border-radius: 5px 0 0 5px;
border: 1px solid #a7a7a7;
border-right: none;
}

.ct-searh-bar input::placeholder{
    color: #a7a7a7;
}
.ct-searh-bar input:focus{
    outline: none;
}

.ct-form-control{
height: 40px;
width: 100%;
}

.ct-search-bar-sudmit{
background-color: #00285F;
color: white;
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
padding: 0 11px;
border: none;
border-radius: 0 5px 5px 0;

}
